* {
    margin:0;
    padding: 0;
    box-sizing: 1;
}

:root {
    font-size: 10px;
}


ul {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    list-style: none;
}

/*all li are descendents of ul*/
ul li {
    background-color: grey;
    color: white;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 1rem;
}

ul li:hover {
    background-color: lightgray;
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    transition: all 0.25 ease-in;
}